[Unit]
Description=The XZES40 daemon for transforming XML documents.
After=apache2.service network.target

[Service]
User=www-data
ExecStart=/usr/local/bin/xzesd
Reload=always

[Install]
WantedBy=default.target
